*, *::after, *::before{
    box-sizing: border-box;
}
html,body{
    margin: 0px ;
    font-family: "Poppins", sans-serif;
}
img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
/* font-----------------------------------------------------------------------------------*/
.vh-70{
    height: 70vh;
}
.min-vh-70{
    min-height: 70vh;
}
.min-vh-80{
    min-height: 80vh;
}
.min-vh-85{
    min-height: 85vh;
}
.min-vh-95{
    min-height: 95vh;
}
.min-vh-100-nav{
    min-height: calc(100vh - 66px);
}
#doctorHome {
    padding-top: 66px;
}
.pt-66 {
    padding-top: 66px;
}
.w-80{
    width: 80%;
}
.min-w-80{
    min-width: 80%;
}
.w-fit{
    width: fit-content;
}
.cursor-pointer{
    cursor:pointer;
}
/* ------------------------------------------------------------------------------- */
:root{
    --main-color:#5ABBBF;
    --btn-color:#327E80;
    --dark-btn-clr:#153637;
    --light-clr:#C8E8EA;
}
.main-clr{
    background-color: var(--main-color);
}
.btn-clr{
    color: var(--btn-color);
}
.light-clr{
    color: var(--light-clr);
}
.light-bg{
    background-color: var(--light-clr);
}
.dark-btn-clr{
    background-color: var(--dark-btn-clr);
}

.rec-opacity-50{ 
    background-color: rgba(163, 217, 219, 0.5);
}
.deg-clr{
    background: linear-gradient(to right, #226668, #43CACE);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ------------------------------------------------------------------------------- */
.dentist-bg{
    background-image: linear-gradient(rgba(0,0,0,0.5)) , url('../images/dentist background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.dark-btn-clr:hover{
    background-color: var(--dark-btn-clr);
    opacity: 0.8;

}
/*Curve------------------------------------------------------------------------------- */
.path-0{
animation:pathAnim-0 4s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
0%{
    d: path("M 0,600 L 0,225 C 43.69311487481592,219.669734904271 87.38622974963184,214.339469808542 151,237 C 214.61377025036816,259.660530191458 298.14819587628864,310.3118556701031 359,310 C 419.85180412371136,309.6881443298969 458.0209867452136,258.4131075110456 513,254 C 567.9790132547864,249.58689248895436 639.7678571428571,292.0357142857143 714,269 C 788.2321428571429,245.96428571428572 864.9075846833579,157.44403534609722 927,122 C 989.0924153166421,86.55596465390279 1036.6018041237112,104.18814432989691 1093,113 C 1149.3981958762888,121.81185567010309 1214.6851988217968,121.80338733431518 1274,139 C 1333.3148011782032,156.19661266568482 1386.6574005891016,190.5983063328424 1440,225 L 1440,600 L 0,600 Z");
}
25%{
    d: path("M 0,600 L 0,225 C 48.33597201767306,233.38346833578794 96.67194403534612,241.76693667157585 151,224 C 205.32805596465388,206.23306332842415 265.64819587628864,162.31572164948454 333,144 C 400.35180412371136,125.68427835051547 474.73527245949924,132.970176730486 545,156 C 615.2647275405008,179.029823269514 681.4107142857142,217.80357142857144 735,257 C 788.5892857142858,296.19642857142856 829.6218703976438,335.8155375552283 882,295 C 934.3781296023562,254.1844624447717 998.1018041237112,132.93427835051546 1068,128 C 1137.8981958762888,123.06572164948456 1213.9709131075113,234.4473490427099 1277,270 C 1340.0290868924887,305.5526509572901 1390.0145434462443,265.27632547864505 1440,225 L 1440,600 L 0,600 Z");
}
50%{
    d: path("M 0,600 L 0,225 C 68.80007363770251,254.5040500736377 137.60014727540502,284.0081001472754 196,290 C 254.39985272459498,295.9918998527246 302.39948453608247,278.4716494845361 355,266 C 407.60051546391753,253.52835051546393 464.80191458026513,246.10530191458025 526,203 C 587.1980854197349,159.89469808541975 652.3928571428571,81.10714285714283 711,119 C 769.6071428571429,156.89285714285717 821.6266568483063,311.4661266568483 891,311 C 960.3733431516937,310.5338733431517 1047.1005154639176,155.0283505154639 1106,151 C 1164.8994845360824,146.9716494845361 1195.9712812960236,294.42047128129605 1247,332 C 1298.0287187039764,369.57952871870395 1369.0143593519883,297.289764359352 1440,225 L 1440,600 L 0,600 Z");
}
75%{
    d: path("M 0,600 L 0,225 C 54.62058173784979,246.9287555228277 109.24116347569958,268.8575110456554 168,279 C 226.75883652430042,289.1424889543446 289.6559278350515,287.49871134020617 355,293 C 420.3440721649485,298.50128865979383 488.13512518409425,311.14764359351983 553,325 C 617.8648748159058,338.85235640648017 679.8035714285714,353.91071428571433 733,337 C 786.1964285714286,320.08928571428567 830.6505891016201,271.20949926362294 890,217 C 949.3494108983799,162.79050073637706 1023.5940721649483,103.25128865979383 1088,120 C 1152.4059278350517,136.74871134020617 1206.9731222385863,229.7853460972018 1264,260 C 1321.0268777614137,290.2146539027982 1380.5134388807069,257.6073269513991 1440,225 L 1440,600 L 0,600 Z");
}
100%{
    d: path("M 0,600 L 0,225 C 43.69311487481592,219.669734904271 87.38622974963184,214.339469808542 151,237 C 214.61377025036816,259.660530191458 298.14819587628864,310.3118556701031 359,310 C 419.85180412371136,309.6881443298969 458.0209867452136,258.4131075110456 513,254 C 567.9790132547864,249.58689248895436 639.7678571428571,292.0357142857143 714,269 C 788.2321428571429,245.96428571428572 864.9075846833579,157.44403534609722 927,122 C 989.0924153166421,86.55596465390279 1036.6018041237112,104.18814432989691 1093,113 C 1149.3981958762888,121.81185567010309 1214.6851988217968,121.80338733431518 1274,139 C 1333.3148011782032,156.19661266568482 1386.6574005891016,190.5983063328424 1440,225 L 1440,600 L 0,600 Z");
}
}
/*Home------------------------------------------------------------------------------- */
#home{
    margin-top: 66px;
}
.nav-link{
    color: var(--main-color);
    font-weight: bold;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--btn-color);
    text-decoration: underline;
}
button.btn.bookBtn{
    background-color: var(--light-clr);
    color: var(--btn-color);
}
button.btn.bookBtn:hover{
    background-color: var(--light-clr);
    color: var(--btn-color);
    opacity: 0.8;
}
.modal-footer button:hover{
    background-color: var(--main-color);
    opacity: 0.8;
}
/*BOOKING------------------------------------------------------------------------------- */
.time button {
background-color: #5abbbf;
}
.time button.selected {
background-color: #1f7a7a;
}
